.img {
  width: 100%;
}
.container {
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  flex-direction: column;
  margin-bottom: 5rem;
}

.target {
  width: 30px;
  height: 30px;
  display: none;
  border: 2px dotted black;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px black;
}
.options{
  border: 1px solid red;
  width: fit-content;
  padding: 5px 20px;
  display: none;
  gap: 20px;
  border-radius: 0.8rem;
  position: absolute;
  cursor: pointer;
  background-color: white;
}
.foundLabel{
  position: absolute;
  visibility: hidden;
  padding: 10px;
  font-weight: 700;
  font-size: 1.5vw;
  text-shadow: 0px 0px 8px red;
}
.profileImg{
  height: 40px;
}
.profileImg:hover{
  border: 1px solid blue;
  border-radius: 5px;
}
.hi{
  height: 150px;
  margin-top: 20px;
  cursor: pointer;
}
.content > p{
  margin: 0;
  margin-bottom: 50px;
  font-size: 1.8rem;
  color: #DA0037;
  font-family: 'Leckerli One';
  text-shadow: 3px 3px black;
}
.wrapper{
  display: flex;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px 20px;
}
.contentWrapper{
  background-color: #2E2E2E;
  border-radius: 10px 10px 0px 0px;
}
.btn{
  background-color: #EDEDED;
  border: 0;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.btn > img{
  height: 15px;
}
.checked{
  background-color: #949191;
}
.content{
  padding: 0 50px;
}
