#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #444444;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #DA0037 25%, #EDEDED 25%, #EDEDED 50%, #DA0037 50%, #DA0037 75%, #EDEDED 75%, #EDEDED 100%);
  background-size: 20px 20px;
  border-radius: 10px; 
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #444444;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #DA0037 25%, #EDEDED 25%, #EDEDED 50%, #DA0037 50%, #DA0037 75%, #EDEDED 75%, #EDEDED 100%);
  background-size: 20px 20px; 
  border-radius: 10px;
}

/* For Edge */
::-ms-scrollbar {
  width: 12px; 
}

::-ms-scrollbar-track {
  background: #444444; 
}

::-ms-scrollbar-thumb {
  background: linear-gradient(45deg, #DA0037 25%, #EDEDED 25%, #EDEDED 50%, #DA0037 50%, #DA0037 75%, #EDEDED 75%, #EDEDED 100%);
  background-size: 20px 20px; 
  border-radius: 10px;
}
